/* ================ STYLING ================= */

.card {
  background-color: #fff;
  width: 100px;
  height: 150px;
  padding: 5;
  gap: 2rem;
  justify-content: center;
  box-shadow: 0 0 15px -2px #000000;
}

.square {
  background-color: #ff6663;
  width: 100px;
  height: 100px;
}

.label {
  display: grid;
  font-weight: bold;
  margin: 15px;
  padding: 10;
  justify-content: start;
}

.wrapper {
  display: grid;
  margin: 20;
  padding: 10; 
  gap: .5rem;
  justify-content: center;
}