.box {
  display: inline-block;
  box-shadow: 0 0 15px -2px #000000;
  padding: 2px;
  margin: 20px;
  justify-content: center;
}

.red-square {
  background-color: #ff6663;
  width: 100px;
  height: 100px;
}

.text-bold {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
