.body {
  background-color: #fff;
  width: 100px;
  height: 150px;
}

.square {
  background-color: #ff6663;
  width: 100px;
  height: 100px;
}

.label__style {
  display: grid;
  font-weight: bold;
  margin:15px;
  padding: 10;
  justify-content: start;
}

.card {
  background-color: #fff;
  margin: 20;
  gap: 2rem;
  justify-content: center;
  box-shadow: 0 0 15px -2px #000000;
}

.wrapper {
  display: grid;
  margin: 10;
  padding: 10; 
  gap: .5rem;
  justify-content: center;
}